<%= form_tag  '/session', class: 'form' do |f| %>
  <h2>Giriş</h2>
  <div>
    <label>
      Email:
      <%= text_field_tag :email, '', class: 'form-control' %>
    </label>
  </div>
  <div>
    <label>
      Şifre:
      <%= password_field_tag :password, '', class: 'form-control' %>
    </label>
  </div>

  <%= submit_tag 'Giriş', class: 'btn btn-primary btn-block' %>
<% end %>
